@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

#cart-icon:hover path {
  fill: #d87d4a;
  transition-duration: 0.5s;
}

#facebook:hover path {
  fill: #d87d4a;
  transition-duration: 0.5s;
}
#twitter:hover path {
  fill: #d87d4a;
  transition-duration: 0.5s;
}
#instagram:hover path {
  fill: #d87d4a;
  transition-duration: 0.5s;
}
#modal::backdrop {
  background: red;
}
#firstModel {
  background-image: url("./assets/ZX9SPattern.png");
  background-repeat: no-repeat;
  background-position: center top;
}
#secondModel {
  background-image: url("./assets//ZX7-speaker.png");
  background-repeat: no-repeat;
}
#description {
  background-image: url("./assets//description-image.png");
}

@media only screen and (min-width: 768px) {
  #firstModel {
    background-image: url("./assets/ZX9SPattern.png");
    background-repeat: no-repeat;
    background-position: center top -100px;
    background-size: 500px;
  }
}
@media only screen and (min-width: 768px) {
  #secondModel {
    background-image: url("./assets/ZX7-speaker-tablet.png");
  }
}
@media only screen and (min-width: 768px) {
  #description {
    background-image: url("./assets/description-tablet.png");
    background-repeat: no-repeat;
  }
}

@media only screen and (min-width: 1440px) {
  #newProduct {
    background-size: 0 0;
  }
}
@media only screen and (min-width: 1440px) {
  #secondModel {
    background-image: url("./assets/zx7-res.png");
  }
}
@media only screen and (min-width: 1440px) {
  #secondModel {
    background-image: url("./assets/zx7-res.png");
  }
}
@media only screen and (min-width: 1440px) {
  #description {
    background-image: url("./assets/description-1440.png");
  }
}
@media only screen and (min-width: 1440px) {
  #firstModel {
    background-image: url("./assets/ZX9SPattern.png");
    background-repeat: no-repeat;
    background-position: bottom -319px left 18px;
    background-size: 650px;
  }
}
html,
body {
  overflow-y: auto;
  overflow-x: hidden;
}
input:focus {
  outline: none !important;
  border-color: #d87d4a;
}
